<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dragon-slayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A13D488E1D02C26A0035B202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13D48A61D02C26B0035B202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13D48B11D02C26B0035B202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
